footer.footer
  .footer__left
    .footer__left__dream
      span.footer__left__dream__title DREAMSHARE
    .footer__left__company
      span.footer__left__company__title Company
      ul.footer__left__company__ul
        li.footer__left__company__ul__li
          a.footer__left__company__ul__li__link(href='#') About
        li.footer__left__company__ul__li
          a.footer__left__company__ul__li__link(href='#') Contact
        li.footer__left__company__ul__li
          a.footer__left__company__ul__li__link(href='#') Press
        li.footer__left__company__ul__li
          a.footer__left__company__ul__li__link(href='#') Blog
        li.footer__left__company__ul__li
          a.footer__left__company__ul__li__link(href='#') Terms and Privacy
        li.footer__left__company__ul__li
          a.footer__left__company__ul__li__link(href='#') Help
    .footer__left__partners
      span.footer__left__partners__title Partners
  .footer__right
    span.footer__right__title DESIGNED BY
    .footer__right__logo